
.btnt:hover{
    background-color: green;
    
    
    
    
    
    
}
.btnt{
    width: 50%;
    padding: 5px;
}

.btnl:hover{
    background-color: green;
}

.btnl{
    width: 50%;
    padding: 5px;
}


   
    





